/*colores
mas oscuro #193e4e
del mas claro a oscuro para botones etc 
#d7e9f2 - hover #dfedf4
#80b3ba - hover #99c2c7
#2b7483 - hover #558f9b
para texto #16537e
https://www.color-hex.com/color-palette/1014735
*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d7e9f2;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    background-color: #ffffff;
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
    color: #16537e;
}

.contenedor {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

form {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    min-width: auto;
    margin: auto;
    height: 80vh;
}

label {
    display: block;
    font-weight: 500;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #80b3ba;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 15px;
    background-color: #2b7483;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: #558f9b;
}

.totales {
    display: inline-block;
    background-color: #ffffff;
    margin-top: 50px;
}

.resumenDePagos {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    min-width: auto;
    height: 80vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #80b3ba;
    text-align: left;
}

ul, li {
    margin: 5px 0;
}